.banner
{
position:relative;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
}
.banner .content 
{
    max-width: 900px;
    
}
.banner .content h2
{
    font-size: 5em;
    color:red;
}
 .banner .content p
 {
    font-size: 1em;
    color:#fff
}